#movie-div {
    padding-left: 50px
}

.poster {
    height: 300px;
    width: 200px;
    object-fit: cover;
}

.poster-recommended {
    height: 195px;
    width: 130px;
    object-fit: cover;
}

.recommendation_div {
    display: none;
}

#text {
    padding-top: 10px;
}